
<div class="row">
  <div class="col-sm-offset-4 col-sm-4">
    <%= render partial: "shared/user_form", locals: { user: :session, options: { url: sessions_path }, submit_msg: "Login" } %>
  </div>
</div>
